#content {
    display: block;
}

.internal {
    display: block;
}
.header {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    background: #ffc8dd;
    color: #000000;
    font-size: 25px;
    font:medium;
    background-size: contain;
}
label {
    display: block;
    font: ariel;
}
input,
label {
    margin: 0.4rem 0;
}
.videoPlay {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1{
    background-color: white;
    color: black;
    border: 2px solid #cdb4db;
  }
  .button1:hover {
    background-color: #cdb4db;
    color: white;
  }
  input[type="file"] {
    display: none;
}